[pull]
  rebase = true
[alias]
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  ci = commit
  cm = commit --amend --no-edit
  co = checkout
  cob = checkout -b
  del = branch -D
  done = push origin HEAD
  l = "!git log --decorate --pretty=format:\"%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(green)(%cr) [%an]\" \"$(git rev-parse --abbrev-ref origin/HEAD)\".."
  la = config --get-regexp alias
  last = !git lg -1
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(green)(%cr) [%an]\" --abbrev-commit -30
  res = reset --hard
  rlg = reflog
  rp = remote prune origin
  s = status
  undo = reset HEAD~1 --mixed
[color]
  ui = auto
[push]
  default = current
[core]
  editor = vim
  excludesfile = ~/.gitignore
